* {
  margin: 0;
  padding: 0;
  background-color: #ffacc9;
}

/* FONTS */
.league-blue {
  color: #0131ff;
  font-family: "League Gothic", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.league-blue a {
  font-size: 2.5rem;
}

.league-blue-large {
  color: #0131ff;
  font-family: "League Gothic", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
}

.league-blue-large a {
  font-size: 4rem;
}

/* SPLASHSCREEN */
#splashscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d91159;
}

#splashscreen img {
  width: 80vw;
  height: auto;
}

/* HEADER */

#header {
  display: flex;
  justify-content: center;
  background-color: #d91159;
  text-align: center;
}

#header img {
  height: 12.5rem;
  width: auto;
}

#header h1 {
  padding-right: 24rem;
}

/* MAIN */
main {
  min-height: calc(100vh - 1rem);
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* ALBUM INFO */
#albumInfo {
  border: 0.5rem solid #0131ff;
  border-radius: 0.75rem;
  padding: 0.75rem;
  display: flex;
  align-items: center;
}

#albumDetails {
  margin-left: 1.25rem;
}

/* ALBUM ART */
.albumImages {
  width: 25rem;
  height: 25rem;
  border-radius: 0.75rem;
  overflow: hidden;
  margin: 0.75rem;
}

.albumImages img {
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ALBUM BACK IMAGE AND TRACKLIST CONTAINER */
#albumBackAndTracklist {
  border: 0.5rem solid #0131ff;
  border-radius: 0.75rem;
  margin-top: 1.88rem;
  display: flex;
}

/* TRACKLIST */
#tracklist {
  width: 50%;
  padding: 0.75rem;
}

#tracklist ul {
  list-style: none;
  padding: 0.75rem;
}

#tracklist li {
  margin-bottom: 0.5rem;
}

.track-number {
  font-weight: bold;
}

.track-length {
  font-style: italic;
}

/* FOOTER */
#footer {
  background-color: #d91159;
  color: #9ac6c5;
  font-size: 1rem;
  text-align: center;
  height: 5rem;
}
