* {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* FONTS */
.league-blue {
  color: #161a1d;
  font-family: "League Gothic", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.league-blue a {
  font-size: 1.5rem;
}

.league-blue-lrg {
  color: #161a1d;
  font-family: "League Gothic", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.league-blue-sml {
  color: #161a1d;
  font-family: "League Gothic", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
}

.league-blue-lrg a {
  font-size: 2.5rem;
}

.montserr {
  color: #161a1d;
  font-family: "Montserrat", sans-serif;
  font-size: 0.5rem;
  font-weight: 400;
}

/* SPLASHSCREEN */
#splashscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d91159;
}

#splashscreen img {
  width: 80vw;
  height: auto;
}

/* HEADER */

#header {
  display: flex;
  justify-content: center;
  background-color: #f10b11;
  text-align: center;
}

#header img {
  height: 12.5rem;
  width: auto;
}

@media (max-width: 600px) {
  #header {
    display: none;
  }
}

/* MAIN */
main {
  max-width: 1440px;
  min-height: calc(100vh - 10rem);
  margin: 2.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

/* ALBUM INFO */
.albumInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  border: 0.5rem solid #161a1d;
  border-radius: 0.5rem;
  padding: 1rem;
  align-items: center;
}

@media (max-width: 600px) {
  .albuminfo {
    flex-direction: column;
  }
}

.albumSide {
  margin-left: 2rem;
}

#albumDetails {
  margin-left: 2rem;
}

/* ALBUM ART */
.albumImages {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 0.25rem;
}

.albumImages img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ALBUM BACK IMAGE AND TRACKLIST CONTAINER */
#albumBackAndTracklist {
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
}

/* TRACKLIST */
#tracklist {
  /* width: 50%; */
  margin: 0 2rem;
}

#tracklist ul {
  list-style: none;
  padding: 0.75rem;
}

#tracklist li {
  margin-bottom: 0.5rem;
}

/* .track-number {
  font-weight: bold;
}

.track-length {
  font-style: italic;
} */

/* BAND LINE UP IMAGE */
#bandLineUp {
  height: 15rem;
  width: auto;
  overflow: hidden;
  border-radius: 0.75rem;
}

/* FOOTER */
#footer {
  padding-top: 4rem;
  background-color: #f10b11;
  font-size: 1rem;
  text-align: center;
  height: 5rem;
}

#footertext p {
  background-color: #f10b11;
  margin-top: 2rem;
}
